$corStandart: #F4F4F4
$cornav: #339b31   
$dark: #0C0C0C
$darkM: #04040C
$cart: #FA5933
*
    padding: 0
    margin: 0
    box-sizing: border-box
    background-color: $corStandart
p,h1,h2
    background-color: transparent
    font-family: 'Nunito', sans-serif
.idx
    height: 60px
    background-color: $cornav
    text-align: right
    
    
    a
        text-decoration: none
        background-color: transparent 
        margin-right: 40px
       
main
    margin-top: 10px
    height: calc(100vh - 70px)
    display: flex
    align-items: center
    justify-content: center
.livro-a
    height: 100%
    flex: 1
    &-capa
        height: 75%
        text-align: center
        cursor: pointer
        
        &-detalhes
            height: 20%
            text-align-last: center
            h1
                font-size: 40px
                color: $dark
            p      
                font-weight: 500
                color: $darkM

#livro
    max-width: 80%
    max-height: 90%
    transition: transform 0.3s ease, background-color 0.3s ease
    &:hover
        transform: scale(1.1)
        

.livro-b
    
    height: 100%
    flex: 1.2
    
.livro-b-conteudo
    width: 75%
    height: 50%
    h2
        color: $dark
        letter-spacing: 2px

    p
        color: $darkM
        letter-spacing: 2px
        font-size: 18px
        text-align: left

.livro-b-box
    width: 60%
    height: 18%
    &-quantia
        height: 50px
        width: 100%
        display: flex
        justify-content: space-between
        &-menos, &-atual, &-mais
            cursor: pointer
            border: 1px solid black
            border-radius: 4px
            height: 100%
            width: 32%
            text-align: center
            
        &-atual
            
            p
                margin-top: 5px
                font-size: 30px
                margin-bottom: 12px
    &-adicionar    
        margin-top: 3px
        cursor: pointer
        
        background-color: $cornav   
        height: 50%
        display: flex
        align-items: center
        justify-content: center
        border-radius: 4px
        p
            font-weight: bold
            letter-spacing: 2px
            color: $corStandart         
.fa-cart-shopping 
    margin-top: 10px
    font-size: 40px 
    background-color: transparent
    color: $cart

.fa-angle-left, .fa-angle-right
    margin-top: 5px
    font-size: 40px
    background-color: transparent
    color: $cart
    